/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';  /* Project id 210038 */
    src: url('//at.alicdn.com/t/font_210038_awly0su3y7r.woff2?t=1635761704167') format('woff2'),
            url('//at.alicdn.com/t/font_210038_awly0su3y7r.woff?t=1635761704167') format('woff'),
            url('//at.alicdn.com/t/font_210038_awly0su3y7r.ttf?t=1635761704167') format('truetype');
}

/* Project id 2583385 */
/* @font-face {
    font-family: 'iconfont'; 
    src: url('./iconfont/iconfont.woff2') format('woff2'),
    url('./iconfont/iconfont.woff') format('woff'),
    url('./iconfont/iconfont.ttf') format('truetype');
} */

.iconfont {
    font-family: "iconfont", "serif" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}