# .github/workflows/build.yml

name: Go Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build Linux
        run: |
          cd web
          npm install
          npm run build
          cd ../
          GOOS=darwin GOARCH=amd64 go build -o hios_mac_amd64
          GOOS=linux GOARCH=amd64 go build -o hios_linux_amd64
          GOOS=windows GOARCH=amd64 go build -o hios_windows_amd64.exe

      - name: Archive Golang binary
        uses: actions/upload-artifact@v2
        with:
          name: myapp
          path: golang-project/myapp

          